
/*Losing all styling when using post route????*/

/*#animal-form{
  display: none;
}

#endangered-animal-form{
  display: none;
}*/

/*body{
  font-family: times;
}
#error-msg{
  color: red;
  font-weight: bold;
}*/
